
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-blanco: rgb(255, 255, 255);
    --color-negro: rgb(0, 0, 0);
    --color-gris: rgb(151, 151, 151);
    --color-rojo: rgb(170, 39, 39);
}

body{
    font-family: 'Open Sans', Arial, Helvetica;
}

.container{
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: 0.3fr 7.3fr 1fr;
    grid-template-areas: "header header"
                                        "contacto contenido"
                                        "footer footer";
}

header{
    grid-area: header;
    
}

main{
    grid-area: contenido;
    background-color: var(--color-negro);
}

aside{
    grid-area: contacto;
    background-color: var(--color-negro);
}

footer{
    grid-area: footer;
    background-color: var(--color-negro);
}


/*------------------Menu-------------------------*/
.menu{
    background-color: var(--color-negro);
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    margin: 4px 0 0 40px;
}

.menu-items{
    list-style: none;
    display: flex;
    margin-right: 30px;
}

.menu-items li{
    margin: 0 5px;
}

.menu-items li a{
    padding: 10px 5px;
    text-decoration: none;
    color: var(--color-blanco);
    display: block;
    font-size: 18px;
}

.menu-items li:hover, li:active{
    background-color: var(--color-gris);
    border-radius: 4px;
    transition: .4s;
}

ul.show{
    top: 75px;
}

.btn-menu{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: var(--color-blanco);
}


/*--------------RESPONSIVE-----------------*/
@media screen and (max-width: 858px) {
    
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 2.5fr 2fr 0.4fr;
        grid-template-areas: "header"
                                            "contenido"
                                            "contacto"
                                            "footer";
    }

    .menu{
        height: 75px;
    }

    .btn-menu{
        display: inline-flex;
        fill: var(--color-blanco);
    }
    
    .menu-items{
        position: fixed;
        width: 100vw;
        height: calc(100% -75px);
        background-color: var(--color-gris);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        z-index: 99;
    }

    .menu-items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu-items li:hover{
        background-color: var(--color-negro);
        border-radius: 0;
    }

    .menu-items li a{
        font-size: 20px;
    }

    .logo img{
        width: 65px;
    }

    
    /* --------------------Aside------------------ */
    .contacto form{
        width: 80%;
    }

    .telefono{
        width: 100%;
        display: flex;
    }

    .telefono img{
        width: 50%;
        margin: 0 auto;
    }

    .correo img{
        width: 15%;
    }

    .correo p{
        justify-content: center;
    }


}

/*-------------------Movil-------------------*/
@media screen and (max-width: 320px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 4.9fr 2fr 0.4fr;
        grid-template-areas: "header"
                                            "contenido"
                                            "contacto"
                                            "footer";
    }
}

/*--------------------------------------------------------*/

/* -------------------- SLIDER ------------------------------   */
.container_slider{
    width: 90%;
    overflow: hidden;
    max-width: 1300px;
    margin: 5% auto;
    position: relative;/*para poner las flechas uno a cada lado de la imagen--------*/
    box-shadow: 0 0 0 1px rgb(70, 70, 70),
                            0 15px 50px;
}

.slider{
    display: flex;
    height: 400px;
    width: 400%;
    margin-left: -100%;
}

.slider_section{
    width: 100%;
}

.slider_img{
    margin: 20px auto;
    display: block;
    height: 90%;
    width: 85%;
    object-fit: cover;
}

.slider_btn{
    top: 50%;
    position: absolute; /*para poner las flechas uno a cada lado de la imagen-------*/
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider_btn:hover{
    background-color: white;
}

.slider_btn_right{
    right: 10px;
}

.slider_btn_left{
    left: 10px;
}


/* ----------------------  PRODUCTOS ---------------------------    */
.title{
    font-size: 25px;
    color: var(--color-blanco);
    margin: 0 0 10px 20px;
}

.container_productos{
    width: 90%;
    max-width: 1300px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container_productos .card{
    width: 200px;
    height: 240px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
    margin: 10px 15px;
    text-align: center;
    transition: all 0.25s;
}

.container_productos .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 50px rgba(0, 0, 0, 0.2);
}

.container_productos .card img{
    width: 190px;
    height: 190px;
}

.container_productos .card h4{
    font-weight: 600;
    margin-top: 5px;
    color: var(--color-blanco);
}

/* .container_productos .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container_productos .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498;
} */




/* -----------------------Menu Aside --------------------------------*/

.menu_info{
    margin: 25px auto;
    width: 90%;
}

.items_info{
    display: flex;
    flex-direction: column;
}

.items_info li{
    list-style: none;
    margin: 5px auto;
    width: 80%;
}

.items_info li a{
    display: block;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    transition: .4s;
}

.items_info li a:hover{
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.telefono img{
    max-width: 90%;
    margin: 25px auto;
}


/* Formulario */
.contacto form{
    background-color: var(--color-gris);
    color: white;
    max-width: 90%;
    margin: 35px auto;
    border-radius: 5px;
    padding: 15px 5px;
}

.contacto form h3{
    text-align: center;
    font-size: 16px;
}

.contacto form label{
    font-size: 13px;
}

.contacto form input{
    width: 97%;
    height: 30px;
    margin-bottom: 15px;
}

.contacto form textarea{
    width: 97%;
}

#btn_enviar{
    display: block;
    width: 60%;
    background-color: black;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: .4s;
}

#btn_enviar:hover{
    cursor: pointer;
    background-color: var(--color-rojo);
}

.correo{
    width: 100%;
}

.correo p{
    max-width: 70%;
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    margin: 5px auto 45px auto;
}

.correo img{
    max-width: 30%;
    display: flex;
    margin: 10px auto 25px auto;
}




/* -------------------------Footer----------------- */

.redes{
    width: 90%;
    padding: 10px 0;
    margin: 25px auto;
}

.redes h4{
    color: var(--color-blanco);
    text-align: center;
}

.container_redes{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.icon_logo{
    width: 65px;
}

.icon_redes{
    width: 50px;
}

.container_redes a{
    text-decoration: none;
    width: 50px;
    display: block;
    margin: 10px;
    border-radius: 50%;
}

/* .redes{
    width: 70%;
    padding: 10px;
    margin: 5px auto 30px auto;
}

h4{
    text-align: center;
    color: white;
}

.container_redes{
    width: 30%;
    margin: 5px auto;
    display: flex;
}

.container_redes> img{
    width: 20%;
}

.container_redes a img{
    padding-top: 10px;
}

.container_redes a{
    display: block;
    text-decoration: none;
} */

.derechos{
    color: white;
    max-width: 90%;
    text-align: center;
    margin: 5px auto;
}

